body{
  margin: 0;
  box-sizing: border-box;
 
}
section{
  color: white;
  min-height: 100vh;
  overflow-x: hidden;
}

.App {
  text-align: center;
  width: 100%;
  background-image: radial-gradient(black,black,blue,black,black);
  background-size: 200% 200%;
  object-fit: cover;
  transition: all .45s;
}

@media screen and (max-width: 600px) {
 section{
 
 }
}






